In [11]:

#Importing libraries
import csv
import os
import pandas as pd
import numpy as np

In [3]:
#path to GNP csv file
population = os.path.join('World_Population.csv')

#opening and converting the csv to a dataframe
population_df = pd.read_csv(population, skiprows=[1,2,3], header=1)

population_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,NaN

In [4]:
#rename columns
population = population_df.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [8]:
# Dropping unecessary columns
population_clean = population[["country", "country_code","1960","1961","1962","1963","1964","1965","1966","1967","1968",
                         "1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]]

In [9]:
population_clean

,country,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0
262,"Yemen, Rep.",YEM,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,5816241.0,5907873.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
263,South Africa,ZAF,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,19888259.0,20406863.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
264,Zambia,ZMB,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,3681953.0,3797877.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
265,Zimbabwe,ZWE,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,4623340.0,4779825.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [10]:
population_clean.to_csv("population_clean.csv", index=True)

In [13]:
#path to GNP csv file
health_expenditure = os.path.join('Current_health_expenditure_per_capita.csv')

#opening and converting the csv to a dataframe
health_df = pd.read_csv(health_expenditure, skiprows=[1,2,3], header=1)

In [14]:
#rename columns
health = health_df.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [15]:
# Dropping unecessary columns
health_clean = health[["country", "country_code","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]]

In [16]:
health_clean

,country,country_code,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,41.591571,37.686535,34.634200,47.705109,59.083969,65.316152,71.173832,79.272768,...,84.879452,99.072984,108.162728,105.736407,103.470833,100.751840,96.017655,91.233983,100.045492,94.242838
2,Afghanistan,AFG,NaN,NaN,15.803164,17.035744,20.412764,23.890501,27.836571,31.271839,...,41.722744,44.990532,50.853474,51.440262,55.034630,59.008934,58.906528,60.188671,65.706024,49.842609
3,Africa Western and Central,AFW,19.303235,19.685658,20.496469,32.570308,37.546055,43.570099,50.582177,55.373439,...,57.860685,61.867024,68.656819,71.266755,78.777126,81.655375,73.282707,63.445837,61.306287,67.383818
4,Angola,AGO,12.998967,28.918121,29.049364,34.875187,49.810741,54.260777,69.812302,92.860306,...,119.996284,96.697014,122.107231,122.185585,143.606873,131.647659,108.582939,95.124977,114.334602,87.616768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,25.827745,27.195436,28.017159,35.718384,39.152393,43.375885,51.000786,59.230652,...,66.811066,68.865936,65.563004,75.143700,79.728119,81.051949,73.176743,NaN,NaN,NaN
263,South Africa,ZAF,225.534332,198.681793,172.227722,259.363373,329.238647,361.013336,369.005249,392.030701,...,417.115112,543.441284,600.343262,581.565247,527.286804,509.790100,469.988251,426.831970,497.047058,525.956909
264,Zambia,ZMB,24.724640,25.092323,25.969627,31.309769,37.970741,48.214775,61.575523,48.946644,...,51.357811,55.392830,57.880146,69.295303,88.128204,67.496788,59.337643,57.362690,67.507996,75.991791
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.348557,88.386696,90.283073,101.674934,116.710533,107.687004,113.408859,112.741936,140.320312

In [17]:
health_clean.to_csv("health_clean.csv", index=True)