In [1]:
#Importing libraries
import csv
import os
import pandas as pd
import numpy as np

## Population

In [2]:
#path to GNP csv file
population = os.path.join('input/wb_population_total.csv')

#opening and converting the csv to a dataframe
population_df = pd.read_csv(population, skiprows=[1,2,3], header=1)

population_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,NaN

In [3]:
#rename columns
population = population_df.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [4]:
# Dropping unecessary columns
population_clean = population[["country", "country_code","1960","1961","1962","1963","1964","1965","1966","1967","1968",
                         "1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]]

In [5]:
population_clean.to_csv("clean/population.csv", index=False)

## Health Expenditure

In [6]:
#path to GNP csv file
health_expenditure = os.path.join('input/wb_current_health_expenditure_per_capita.csv')

#opening and converting the csv to a dataframe
health_df = pd.read_csv(health_expenditure, skiprows=[1,2,3], header=1)

In [7]:
#rename columns
health = health_df.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [8]:
# Dropping unecessary columns
health_clean = health[["country", "country_code","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]]

In [9]:
health_clean.to_csv("clean/health_expenditure.csv", index=False)

## Birth Rate

In [10]:
#path to GNP csv file
birth_rate = os.path.join('input/wb_birth_rate_per_1k.csv')

#opening and converting the csv to a dataframe
birth_rate = pd.read_csv(birth_rate, skiprows=[1,2,3], header=1)

In [11]:
#rename columns
birth_rate = birth_rate.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [12]:
birth_rate_clean = birth_rate[["country", "country_code","1960","1961","1962","1963","1964","1965","1966","1967","1968",
                         "1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]]

In [13]:
birth_rate_clean.to_csv("clean/birth_rate.csv", index=False)

## Death Rate

In [14]:
#path to GNP csv file
death_rate = os.path.join('input/wb_death_rate_per_1k.csv')

#opening and converting the csv to a dataframe
death_rate = pd.read_csv(death_rate, skiprows=[1,2,3], header=1)

In [15]:
#rename columns
death_rate = death_rate.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [16]:
death_rate = death_rate[["country", "country_code","1960","1961","1962","1963","1964","1965","1966","1967","1968",
                         "1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]]

In [17]:
death_rate.to_csv("clean/death_rate.csv", index=False)

## GDP Per Capita

In [18]:
#path to GNP csv file
gdp_per_capita = os.path.join('input/wb_gdp_per_capita.csv')

#opening and converting the csv to a dataframe
gdp_per_capita = pd.read_csv(gdp_per_capita, skiprows=[1,2,3], header=1)

In [19]:
#rename columns
gdp_per_capita = gdp_per_capita.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [20]:
gdp_per_capita = gdp_per_capita[["country", "country_code","1960","1961","1962","1963","1964","1965","1966","1967","1968",
                         "1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019", "2020"]]

In [21]:
gdp_per_capita.to_csv("clean/gdp_per_capita.csv", index=True)

## Income Per Capita

In [22]:
#path to GNP csv file
income_per_capita = os.path.join('input/wb_income_per_capita.csv')

#opening and converting the csv to a dataframe
income_per_capita = pd.read_csv(income_per_capita, skiprows=[1,2,3], header=1)

In [23]:
#rename columns
income_per_capita = income_per_capita.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [24]:
income_per_capita = income_per_capita[["country", "country_code","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981",
                         "1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]]

In [25]:
income_per_capita.to_csv("clean/income_per_capita.csv", index=False)

## Health Expenditure PCT

In [26]:
#path to GNP csv file
expenditure_pct = os.path.join('input/wb_health_expenditure_pct.csv')

#opening and converting the csv to a dataframe
expenditure_pct = pd.read_csv(expenditure_pct, skiprows=[1,2,3], header=1)

In [27]:
#rename columns
expenditure_pct = expenditure_pct.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [28]:
expenditure_pct = expenditure_pct[["country", "country_code","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]]

In [29]:
expenditure_pct.to_csv("clean/expenditure_pct.csv", index=False)

## Suicide Rates

In [30]:
#path to GNP csv file
suicide_rates = os.path.join('input/wb_suicide_rate_per_100k.csv')

#opening and converting the csv to a dataframe
suicide_rates = pd.read_csv(suicide_rates, skiprows=[1,2,3], header=1)

In [31]:
#rename columns
suicide_rates = suicide_rates.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [32]:
suicide_rates = suicide_rates[["country", "country_code","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]]

In [33]:
suicide_rates.to_csv("clean/suicide_rates.csv", index=False)

## Unemployment

In [34]:
#path to GNP csv file
unemployment_pct = os.path.join('input/wb_unemployment_pct.csv')

#opening and converting the csv to a dataframe
unemployment_pct = pd.read_csv(unemployment_pct, skiprows=[1,2,3], header=1)

In [35]:
#rename columns
unemployment_pct = unemployment_pct.rename(columns={"Country Name": "country", "Country Code":"country_code"})

In [36]:
unemployment_pct = unemployment_pct[["country", "country_code","1991","1992","1993","1994"
                        ,"1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007"
                        ,"2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019", "2020"]]

In [37]:
unemployment_pct.to_csv("clean/unemployment_pct.csv", index=False)