## Joining 3 databases

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
from functools import reduce

In [2]:
# Set CSV input file path
suicide_path = os.path.join('clean/extract_owid_suicide_rate_1990.csv')
# Read CSV to DataFrame
suicide_df = pd.read_csv(suicide_path)

In [3]:
# Set CSV input file path
mental_path = os.path.join('clean/extract_owid_mental_and_disorders.csv')
# Read CSV to DataFrame
mental_df = pd.read_csv(mental_path)

In [4]:
# Set CSV input file path
life_path = os.path.join('clean/extract_owid_life_expectancy.csv')
# Read CSV to DataFrame
life_df = pd.read_csv(life_path)

In [5]:
# Set CSV input file path
wb_db = os.path.join('clean/extract_all.csv')
# Read CSV to DataFrame
wb = pd.read_csv(wb_db)

In [6]:
data_frames = [suicide_df, mental_df, life_df,wb]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['country_year'],
                                            how='inner'), data_frames)

In [15]:
df_join_a = pd.merge(suicide_df, mental_df, on='country_year', how='inner')
df_join_b = pd.merge(life_df,wb, on='country_year', how='inner')

In [17]:
df_join_c =  pd.merge(df_join_a,df_join_b, on='country_year', how='inner')

In [19]:
print(df_join_c.columns)

Index(['country_x_x', 'year_x_x', 'suicide_rate_owid', 'country_year',
       'country_y_x', 'year_y_x', 'mental_substance_disorders', 'country_x_y',
       'year_x_y', 'life_expectancy', 'country_y_y', 'year_y_y', 'birth_rate',
       'health', 'death_rate', 'gdp', 'health_pct', 'income', 'population',
       'suicide_rate', 'unemployment'],
      dtype='object')

In [10]:
print(df_merged.columns)

Index(['country_x', 'year_x', 'suicide_rate_owid', 'country_year', 'country_y',
       'year_y', 'mental_substance_disorders', 'country_x', 'year_x',
       'life_expectancy', 'country_y', 'year_y', 'birth_rate', 'health',
       'death_rate', 'gdp', 'health_pct', 'income', 'population',
       'suicide_rate', 'unemployment'],
      dtype='object')

In [23]:
df = df_join_c[["country_y_y", 
                "year_y_y", 
                "country_year", 
                "suicide_rate_owid",
                "suicide_rate",
                "mental_substance_disorders",
                "life_expectancy", 
                "birth_rate",
                "health",
                "death_rate",
                "gdp",
                "health_pct", 
                "income",
                "population",
                "unemployment"
               ]]

In [25]:
#rename columns
db_complete = df.rename(columns={"country_y_y": "country", "year_y_y":"year", "country_year":"country_code"})

In [26]:
#Counting countries
db_complete["country"].nunique()

171

In [27]:
db_complete

,country,year,country_code,suicide_rate_owid,suicide_rate,mental_substance_disorders,life_expectancy,birth_rate,health,death_rate,gdp,health_pct,income,population,unemployment
0,Afghanistan,1990,Afghanistan-1990,10.318504,NaN,17.553463,50.331,48.880,NaN,15.241,NaN,NaN,NaN,12412311.0,NaN
1,Afghanistan,1991,Afghanistan-1991,10.327010,NaN,17.837032,50.999,48.763,NaN,14.783,NaN,NaN,NaN,13299016.0,11.38
2,Afghanistan,1992,Afghanistan-1992,10.271411,NaN,18.092542,51.641,48.709,NaN,14.362,NaN,NaN,NaN,14485543.0,11.46
3,Afghanistan,1993,Afghanistan-1993,10.376123,NaN,18.294931,52.256,48.717,NaN,13.974,NaN,NaN,NaN,15816601.0,11.61
4,Afghanistan,1994,Afghanistan-1994,10.575915,NaN,18.428908,52.842,48.770,NaN,13.616,NaN,NaN,NaN,17075728.0,11.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,Zimbabwe,2013,Zimbabwe-2013,28.361200,18.6,11.560855,56.897,35.768,101.674934,10.115,1429.998461,7.110148,1167.133941,13350378.0,5.38
4716,Zimbabwe,2014,Zimbabwe-2014,27.605547,18.2,11.574543,58.410,34.978,116.710533,9.277,1434.896277,8.133524,1164.262622,13586710.0,5.33
4717,Zimbabwe,2015,Zimbabwe-2015,27.197061,18.0,11.588537,59.534,33.981,107.687004,8.673,1445.069702,7.452066,1180.490702,13814642.0,5.29
4718,Zimbabwe,2016,Zimbabwe-2016,26.839591,16.8,11.606887,60.294,32.864,113.408859,8.286,1464.588957,7.647620,1208.587656,14030338.0,5.24
4719,Zimbabwe,2017,Zimbabwe-2017,26.391769,15.0,11.620367,60.812,31.732,112.741936,8.044,1335.665064,5.849775,1268.187512,14236599.0,5.15

In [28]:
db_complete.to_csv("clean/extract_owid_and_wb.csv", index=False)

## Indicating names as the ONU

In [ ]:
# Set CSV input file path
countries_all = os.path.join('clean/extract_countries_all.csv')
# Read CSV to DataFrame
countries_df = pd.read_csv(countries_all)

In [ ]:
countries_df

In [ ]:
countries_onu = countries_df["onu"].dropna()

In [ ]:
countries_onu.nunique()