## Joining databases

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
from functools import reduce

In [2]:
# Set CSV input file path
suicide_path = os.path.join('clean/extract_owid_suicide_rate_1990.csv')
# Read CSV to DataFrame
suicide_df = pd.read_csv(suicide_path)

In [3]:
suicide_russia = suicide_df.loc[(suicide_df["country"]== "Russia")]

In [4]:
# Set CSV input file path
mental_path = os.path.join('clean/extract_owid_mental_and_disorders.csv')
# Read CSV to DataFrame
mental_df = pd.read_csv(mental_path)

In [5]:
mental_russia = mental_df.loc[(mental_df["country"]== "Russia")]

In [6]:
# Set CSV input file path
life_path = os.path.join('clean/extract_owid_life_expectancy.csv')
# Read CSV to DataFrame
life_df = pd.read_csv(life_path)

In [7]:
life_russia = life_df.loc[(life_df["country"]== "Russia")]

In [8]:
# Set CSV input file path
wb_db = os.path.join('clean/extract_all.csv')
# Read CSV to DataFrame
wb = pd.read_csv(wb_db)

In [9]:
country_search = wb.loc[(wb["country"]== "Russian Federation")]

In [10]:
df_join_a = pd.merge(suicide_df, mental_df, on='country_year', how='inner')
df_join_b = pd.merge(life_df,wb, on='country_year', how='inner')

In [11]:
russia_search_join_one = df_join_a.loc[(df_join_a["country_x"]== "Russia")]
russia_search_join_one.head()

,country_x,year_x,suicide_rate_owid,country_year,country_y,year_y,mental_substance_disorders
4704,Russia,1990,28.321015,Russia-1990,Russia,1990,11.747320
4705,Russia,1991,29.617504,Russia-1991,Russia,1991,11.775109
4706,Russia,1992,34.488578,Russia-1992,Russia,1992,11.800684
4707,Russia,1993,44.017264,Russia-1993,Russia,1993,11.824215
4708,Russia,1994,50.176333,Russia-1994,Russia,1994,11.844027

In [12]:
russia_search_join_two = df_join_b.loc[(df_join_b["country_y"]== "Russia")]
russia_search_join_two.head()

,country_x,year_x,life_expectancy,country_year,country_y,year_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
5228,Russia,1990,68.886098,Russia-1990,Russia,1990,13.4,NaN,11.2,3492.710314,NaN,NaN,147969407.0,NaN,NaN
5229,Russia,1991,68.474390,Russia-1991,Russia,1991,12.1,NaN,11.4,3490.452505,NaN,NaN,148394216.0,NaN,5.13
5230,Russia,1992,66.873171,Russia-1992,Russia,1992,10.7,NaN,12.2,3098.802639,NaN,1776.313984,148538197.0,NaN,5.18
5231,Russia,1993,64.935854,Russia-1993,Russia,1993,9.4,NaN,14.5,2930.670201,NaN,1564.036206,148458777.0,NaN,5.88
5232,Russia,1994,64.467073,Russia-1994,Russia,1994,9.5,NaN,15.7,2662.104034,NaN,1336.541564,148407912.0,NaN,8.13

In [13]:
df_join_c =  pd.merge(df_join_a,df_join_b, on='country_year', how='inner')

In [14]:
df_join_c.head()

,country_x_x,year_x_x,suicide_rate_owid,country_year,country_y_x,year_y_x,mental_substance_disorders,country_x_y,year_x_y,life_expectancy,...,year_y_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
0,Afghanistan,1990,10.318504,Afghanistan-1990,Afghanistan,1990,17.553463,Afghanistan,1990,50.331,...,1990,48.880,NaN,15.241,NaN,NaN,NaN,12412311.0,NaN,NaN
1,Afghanistan,1991,10.327010,Afghanistan-1991,Afghanistan,1991,17.837032,Afghanistan,1991,50.999,...,1991,48.763,NaN,14.783,NaN,NaN,NaN,13299016.0,NaN,11.38
2,Afghanistan,1992,10.271411,Afghanistan-1992,Afghanistan,1992,18.092542,Afghanistan,1992,51.641,...,1992,48.709,NaN,14.362,NaN,NaN,NaN,14485543.0,NaN,11.46
3,Afghanistan,1993,10.376123,Afghanistan-1993,Afghanistan,1993,18.294931,Afghanistan,1993,52.256,...,1993,48.717,NaN,13.974,NaN,NaN,NaN,15816601.0,NaN,11.61
4,Afghanistan,1994,10.575915,Afghanistan-1994,Afghanistan,1994,18.428908,Afghanistan,1994,52.842,...,1994,48.770,NaN,13.616,NaN,NaN,NaN,17075728.0,NaN,11.65

In [15]:
df = df_join_c[["country_y_y", 
                "year_y_y", 
                "country_year", 
                "suicide_rate_owid",
                "mental_substance_disorders",
                "life_expectancy", 
                "birth_rate",
                "death_rate",
                "gdp",
                "health_pct", 
                "population",
                "unemployment"
               ]]

In [16]:
#rename columns
db_complete = df.rename(columns={"country_y_y": "country", "year_y_y":"year"})

In [17]:
joined_russia = db_complete.loc[(db_complete["country"]== "Russia")]
joined_russia.head()

,country,year,country_year,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
3748,Russia,1990,Russia-1990,28.321015,11.747320,68.886098,13.4,11.2,3492.710314,NaN,147969407.0,NaN
3749,Russia,1991,Russia-1991,29.617504,11.775109,68.474390,12.1,11.4,3490.452505,NaN,148394216.0,5.13
3750,Russia,1992,Russia-1992,34.488578,11.800684,66.873171,10.7,12.2,3098.802639,NaN,148538197.0,5.18
3751,Russia,1993,Russia-1993,44.017264,11.824215,64.935854,9.4,14.5,2930.670201,NaN,148458777.0,5.88
3752,Russia,1994,Russia-1994,50.176333,11.844027,64.467073,9.5,15.7,2662.104034,NaN,148407912.0,8.13

In [18]:
#Counting countries
db_complete["country"].nunique()

188

In [19]:
db_complete["country"].nunique()

188

In [20]:
db_complete.to_csv("clean/extract_owid_and_wb.csv", index=False)
db_complete.to_csv("output/suicide_data_final.csv", index=False)

In [21]:
db_complete

,country,year,country_year,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,1990,Afghanistan-1990,10.318504,17.553463,50.331,48.880,15.241,NaN,NaN,12412311.0,NaN
1,Afghanistan,1991,Afghanistan-1991,10.327010,17.837032,50.999,48.763,14.783,NaN,NaN,13299016.0,11.38
2,Afghanistan,1992,Afghanistan-1992,10.271411,18.092542,51.641,48.709,14.362,NaN,NaN,14485543.0,11.46
3,Afghanistan,1993,Afghanistan-1993,10.376123,18.294931,52.256,48.717,13.974,NaN,NaN,15816601.0,11.61
4,Afghanistan,1994,Afghanistan-1994,10.575915,18.428908,52.842,48.770,13.616,NaN,NaN,17075728.0,11.65
...,...,...,...,...,...,...,...,...,...,...,...,...
5191,Zimbabwe,2013,Zimbabwe-2013,28.361200,11.560855,56.897,35.768,10.115,1429.998461,7.110148,13350378.0,5.38
5192,Zimbabwe,2014,Zimbabwe-2014,27.605547,11.574543,58.410,34.978,9.277,1434.896277,8.133524,13586710.0,5.33
5193,Zimbabwe,2015,Zimbabwe-2015,27.197061,11.588537,59.534,33.981,8.673,1445.069702,7.452066,13814642.0,5.29
5194,Zimbabwe,2016,Zimbabwe-2016,26.839591,11.606887,60.294,32.864,8.286,1464.588957,7.647620,14030338.0,5.24
5195,Zimbabwe,2017,Zimbabwe-2017,26.391769,11.620367,60.812,31.732,8.044,1335.665064,5.849775,14236599.0,5.15

## Merge with other dbs

In [22]:
# Set CSV input file path
#activity_path = os.path.join('clean/extract_insufficient_activity.csv')
# Read CSV to DataFrame
#activity_df = pd.read_csv(activity_path)
#activity_df.head()

In [23]:
# Set CSV input file path
alcohol_path = os.path.join('clean/extract_alcohol.csv')
# Read CSV to DataFrame
alcohol_df = pd.read_csv(alcohol_path)
alcohol_df.head()

      Location  year  alcohol_consumption      country      country_year
0  Afghanistan  1990                  0.0  Afghanistan  Afghanistan-1990
1  Afghanistan  1991                  0.0  Afghanistan  Afghanistan-1991
2  Afghanistan  1992                  0.0  Afghanistan  Afghanistan-1992
3  Afghanistan  1993                  0.0  Afghanistan  Afghanistan-1993
4  Afghanistan  1994                  0.0  Afghanistan  Afghanistan-1994

In [24]:
# Set CSV input file path
homicide_path = os.path.join('clean/extract_homicide_rate.csv')
# Read CSV to DataFrame
homicide_df = pd.read_csv(homicide_path)
homicide_df.head()

       country  year  homicide_rate      country_year
0  Afghanistan  2000           9.78  Afghanistan-2000
1  Afghanistan  2001           9.64  Afghanistan-2001
2  Afghanistan  2002          10.18  Afghanistan-2002
3  Afghanistan  2003          10.40  Afghanistan-2003
4  Afghanistan  2004           9.74  Afghanistan-2004

In [25]:
#df_join_alcohol_activity =  pd.merge(activity_df,alcohol_df, on='country_year', how='inner')
#df_join_alcohol_activity.head()

In [26]:
#df_join_alcohol_activity["year_x"].nunique()

In [27]:
#df_join_homicide =  pd.merge(alcohol_df,homicide_df, on='country_year', how='inner')
#df_join_homicide.head()

In [28]:
#df_join_homicide["year_x"].nunique()

In [29]:
#three_df = df_join_homicide[[
#                "country_x", 
#                "year_x", 
 #               "country_year", 
  #              "alcohol_consumption",
   #             "homicide_rate"
    #           ]]

#three_df.head()

In [30]:
df_join_total =  pd.merge(alcohol_df,db_complete, on='country_year', how='inner')
df_join_total.head()

,Location,year_x,alcohol_consumption,country_x,country_year,country_y,year_y,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,1990,0.0,Afghanistan,Afghanistan-1990,Afghanistan,1990,10.318504,17.553463,50.331,48.880,15.241,NaN,NaN,12412311.0,NaN
1,Afghanistan,1991,0.0,Afghanistan,Afghanistan-1991,Afghanistan,1991,10.327010,17.837032,50.999,48.763,14.783,NaN,NaN,13299016.0,11.38
2,Afghanistan,1992,0.0,Afghanistan,Afghanistan-1992,Afghanistan,1992,10.271411,18.092542,51.641,48.709,14.362,NaN,NaN,14485543.0,11.46
3,Afghanistan,1993,0.0,Afghanistan,Afghanistan-1993,Afghanistan,1993,10.376123,18.294931,52.256,48.717,13.974,NaN,NaN,15816601.0,11.61
4,Afghanistan,1994,0.0,Afghanistan,Afghanistan-1994,Afghanistan,1994,10.575915,18.428908,52.842,48.770,13.616,NaN,NaN,17075728.0,11.65

In [31]:
df_join_total["country_x"].nunique()

168

In [32]:
final = df_join_total[["country_x", 
                "year_x", 
                "country_year", 
                "alcohol_consumption",
                "suicide_rate_owid",
                "mental_substance_disorders",
                "life_expectancy",
                "birth_rate",
                "death_rate",
                 "gdp",
                 "health_pct",
                 "population",
                "unemployment"
                       ]]

final.head()

,country_x,year_x,country_year,alcohol_consumption,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,1990,Afghanistan-1990,0.0,10.318504,17.553463,50.331,48.880,15.241,NaN,NaN,12412311.0,NaN
1,Afghanistan,1991,Afghanistan-1991,0.0,10.327010,17.837032,50.999,48.763,14.783,NaN,NaN,13299016.0,11.38
2,Afghanistan,1992,Afghanistan-1992,0.0,10.271411,18.092542,51.641,48.709,14.362,NaN,NaN,14485543.0,11.46
3,Afghanistan,1993,Afghanistan-1993,0.0,10.376123,18.294931,52.256,48.717,13.974,NaN,NaN,15816601.0,11.61
4,Afghanistan,1994,Afghanistan-1994,0.0,10.575915,18.428908,52.842,48.770,13.616,NaN,NaN,17075728.0,11.65

In [33]:
final = final.rename(columns={"country_x": "country", "year_x": "year",})

In [34]:
final.to_csv("output/suicide_data.csv", index=False)

In [37]:
final["country"].nunique()

168

In [38]:
final

,country,year,country_year,alcohol_consumption,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,1990,Afghanistan-1990,0.00,10.318504,17.553463,50.331,48.880,15.241,NaN,NaN,12412311.0,NaN
1,Afghanistan,1991,Afghanistan-1991,0.00,10.327010,17.837032,50.999,48.763,14.783,NaN,NaN,13299016.0,11.38
2,Afghanistan,1992,Afghanistan-1992,0.00,10.271411,18.092542,51.641,48.709,14.362,NaN,NaN,14485543.0,11.46
3,Afghanistan,1993,Afghanistan-1993,0.00,10.376123,18.294931,52.256,48.717,13.974,NaN,NaN,15816601.0,11.61
4,Afghanistan,1994,Afghanistan-1994,0.00,10.575915,18.428908,52.842,48.770,13.616,NaN,NaN,17075728.0,11.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4846,Zimbabwe,2013,Zimbabwe-2013,0.05,28.361200,11.560855,56.897,35.768,10.115,1429.998461,7.110148,13350378.0,5.38
4847,Zimbabwe,2014,Zimbabwe-2014,0.06,27.605547,11.574543,58.410,34.978,9.277,1434.896277,8.133524,13586710.0,5.33
4848,Zimbabwe,2015,Zimbabwe-2015,0.06,27.197061,11.588537,59.534,33.981,8.673,1445.069702,7.452066,13814642.0,5.29
4849,Zimbabwe,2016,Zimbabwe-2016,0.05,26.839591,11.606887,60.294,32.864,8.286,1464.588957,7.647620,14030338.0,5.24
4850,Zimbabwe,2017,Zimbabwe-2017,0.05,26.391769,11.620367,60.812,31.732,8.044,1335.665064,5.849775,14236599.0,5.15