## Joining 3 databases

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
from functools import reduce

In [2]:
# Set CSV input file path
suicide_path = os.path.join('clean/extract_owid_suicide_rate_1990.csv')
# Read CSV to DataFrame
suicide_df = pd.read_csv(suicide_path)

In [3]:
suicide_russia = suicide_df.loc[(suicide_df["country"]== "Russia")]
suicide_russia.head()

     country  year  suicide_rate_owid country_year
4704  Russia  1990          28.321015  Russia-1990
4705  Russia  1991          29.617504  Russia-1991
4706  Russia  1992          34.488578  Russia-1992
4707  Russia  1993          44.017264  Russia-1993
4708  Russia  1994          50.176333  Russia-1994

In [4]:
# Set CSV input file path
mental_path = os.path.join('clean/extract_owid_mental_and_disorders.csv')
# Read CSV to DataFrame
mental_df = pd.read_csv(mental_path)

In [5]:
mental_russia = mental_df.loc[(mental_df["country"]== "Russia")]
mental_russia.head()

     country  year  mental_substance_disorders country_year
4704  Russia  1990                   11.747320  Russia-1990
4705  Russia  1991                   11.775109  Russia-1991
4706  Russia  1992                   11.800684  Russia-1992
4707  Russia  1993                   11.824215  Russia-1993
4708  Russia  1994                   11.844027  Russia-1994

In [6]:
# Set CSV input file path
life_path = os.path.join('clean/extract_owid_life_expectancy.csv')
# Read CSV to DataFrame
life_df = pd.read_csv(life_path)

In [7]:
life_russia = life_df.loc[(life_df["country"]== "Russia")]
life_russia.head()

     country  year  life_expectancy country_year
5648  Russia  1990        68.886098  Russia-1990
5649  Russia  1991        68.474390  Russia-1991
5650  Russia  1992        66.873171  Russia-1992
5651  Russia  1993        64.935854  Russia-1993
5652  Russia  1994        64.467073  Russia-1994

In [8]:
# Set CSV input file path
wb_db = os.path.join('clean/extract_all.csv')
# Read CSV to DataFrame
wb = pd.read_csv(wb_db)

In [9]:
country_search = wb.loc[(wb["country"]== "Russian Federation")]
country_search.head()

Empty DataFrame
Columns: [country, year, birth_rate, health, death_rate, gdp, health_pct, income, population, suicide_rate, unemployment, country_year]
Index: []

In [10]:
df_join_a = pd.merge(suicide_df, mental_df, on='country_year', how='inner')
df_join_b = pd.merge(life_df,wb, on='country_year', how='inner')

In [11]:
df_join_a.head()

,country_x,year_x,suicide_rate_owid,country_year,country_y,year_y,mental_substance_disorders
0,Afghanistan,1990,10.318504,Afghanistan-1990,Afghanistan,1990,17.553463
1,Afghanistan,1991,10.327010,Afghanistan-1991,Afghanistan,1991,17.837032
2,Afghanistan,1992,10.271411,Afghanistan-1992,Afghanistan,1992,18.092542
3,Afghanistan,1993,10.376123,Afghanistan-1993,Afghanistan,1993,18.294931
4,Afghanistan,1994,10.575915,Afghanistan-1994,Afghanistan,1994,18.428908

In [12]:
russia_search_join_one = df_join_a.loc[(df_join_a["country_x"]== "Russia")]
russia_search_join_one.head()

,country_x,year_x,suicide_rate_owid,country_year,country_y,year_y,mental_substance_disorders
4704,Russia,1990,28.321015,Russia-1990,Russia,1990,11.747320
4705,Russia,1991,29.617504,Russia-1991,Russia,1991,11.775109
4706,Russia,1992,34.488578,Russia-1992,Russia,1992,11.800684
4707,Russia,1993,44.017264,Russia-1993,Russia,1993,11.824215
4708,Russia,1994,50.176333,Russia-1994,Russia,1994,11.844027

In [13]:
df_join_b.columns

Index(['country_x', 'year_x', 'life_expectancy', 'country_year', 'country_y',
       'year_y', 'birth_rate', 'health', 'death_rate', 'gdp', 'health_pct',
       'income', 'population', 'suicide_rate', 'unemployment'],
      dtype='object')

In [14]:
russia_search_join_two = df_join_b.loc[(df_join_b["country_y"]== "Russia")]
russia_search_join_two.head()

,country_x,year_x,life_expectancy,country_year,country_y,year_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
4988,Russia,1990,68.886098,Russia-1990,Russia,1990,13.4,NaN,11.2,3492.710314,NaN,NaN,147969407.0,NaN,NaN
4989,Russia,1991,68.474390,Russia-1991,Russia,1991,12.1,NaN,11.4,3490.452505,NaN,NaN,148394216.0,NaN,5.13
4990,Russia,1992,66.873171,Russia-1992,Russia,1992,10.7,NaN,12.2,3098.802639,NaN,1776.313984,148538197.0,NaN,5.18
4991,Russia,1993,64.935854,Russia-1993,Russia,1993,9.4,NaN,14.5,2930.670201,NaN,1564.036206,148458777.0,NaN,5.88
4992,Russia,1994,64.467073,Russia-1994,Russia,1994,9.5,NaN,15.7,2662.104034,NaN,1336.541564,148407912.0,NaN,8.13

In [15]:
df_join_c =  pd.merge(df_join_a,df_join_b, on='country_year', how='inner')

In [16]:
df_join_c.head()

,country_x_x,year_x_x,suicide_rate_owid,country_year,country_y_x,year_y_x,mental_substance_disorders,country_x_y,year_x_y,life_expectancy,...,year_y_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
0,Afghanistan,1990,10.318504,Afghanistan-1990,Afghanistan,1990,17.553463,Afghanistan,1990,50.331,...,1990,48.880,NaN,15.241,NaN,NaN,NaN,12412311.0,NaN,NaN
1,Afghanistan,1991,10.327010,Afghanistan-1991,Afghanistan,1991,17.837032,Afghanistan,1991,50.999,...,1991,48.763,NaN,14.783,NaN,NaN,NaN,13299016.0,NaN,11.38
2,Afghanistan,1992,10.271411,Afghanistan-1992,Afghanistan,1992,18.092542,Afghanistan,1992,51.641,...,1992,48.709,NaN,14.362,NaN,NaN,NaN,14485543.0,NaN,11.46
3,Afghanistan,1993,10.376123,Afghanistan-1993,Afghanistan,1993,18.294931,Afghanistan,1993,52.256,...,1993,48.717,NaN,13.974,NaN,NaN,NaN,15816601.0,NaN,11.61
4,Afghanistan,1994,10.575915,Afghanistan-1994,Afghanistan,1994,18.428908,Afghanistan,1994,52.842,...,1994,48.770,NaN,13.616,NaN,NaN,NaN,17075728.0,NaN,11.65

In [17]:
df = df_join_c[["country_y_y", 
                "year_y_y", 
                "country_year", 
                "suicide_rate_owid",
                "mental_substance_disorders",
                "life_expectancy", 
                "birth_rate",
                "death_rate",
                "gdp",
                "health_pct", 
                "population",
                "unemployment"
               ]]

In [18]:
#rename columns
db_complete = df.rename(columns={"country_y_y": "country", "year_y_y":"year", "country_year":"country_code"})

In [19]:
joined_russia = db_complete.loc[(db_complete["country"]== "Russia")]
joined_russia.head()

,country,year,country_code,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
3524,Russia,1990,Russia-1990,28.321015,11.747320,68.886098,13.4,11.2,3492.710314,NaN,147969407.0,NaN
3525,Russia,1991,Russia-1991,29.617504,11.775109,68.474390,12.1,11.4,3490.452505,NaN,148394216.0,5.13
3526,Russia,1992,Russia-1992,34.488578,11.800684,66.873171,10.7,12.2,3098.802639,NaN,148538197.0,5.18
3527,Russia,1993,Russia-1993,44.017264,11.824215,64.935854,9.4,14.5,2930.670201,NaN,148458777.0,5.88
3528,Russia,1994,Russia-1994,50.176333,11.844027,64.467073,9.5,15.7,2662.104034,NaN,148407912.0,8.13

In [20]:
#Counting countries
db_complete["country"].nunique()

172

In [21]:
db_complete["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Asia',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vietnam', 'World', 'Zambia',
       'Zimbabwe'], dtype=object)

In [22]:
db_complete.to_csv("clean/extract_owid_and_wb.csv", index=False)

## Indicating names as the ONU

In [ ]:
# Set CSV input file path
countries_all = os.path.join('clean/extract_countries_all.csv')
# Read CSV to DataFrame
countries_df = pd.read_csv(countries_all)

In [ ]:
countries_df

In [ ]:
countries_onu = countries_df["onu"].dropna()

In [ ]:
countries_onu.nunique()