## Joining databases

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
from functools import reduce

In [2]:
# Set CSV input file path
suicide_path = os.path.join('clean/extract_owid_suicide_rate_1990.csv')
# Read CSV to DataFrame
suicide_df = pd.read_csv(suicide_path)

In [3]:
suicide_russia = suicide_df.loc[(suicide_df["country"]== "Russia")]

In [4]:
# Set CSV input file path
mental_path = os.path.join('clean/extract_owid_mental_and_disorders.csv')
# Read CSV to DataFrame
mental_df = pd.read_csv(mental_path)

In [5]:
mental_russia = mental_df.loc[(mental_df["country"]== "Russia")]

In [6]:
# Set CSV input file path
life_path = os.path.join('clean/extract_owid_life_expectancy.csv')
# Read CSV to DataFrame
life_df = pd.read_csv(life_path)

In [7]:
life_russia = life_df.loc[(life_df["country"]== "Russia")]

In [8]:
# Set CSV input file path
wb_db = os.path.join('clean/extract_all.csv')
# Read CSV to DataFrame
wb = pd.read_csv(wb_db)

In [9]:
country_search = wb.loc[(wb["country"]== "Russian Federation")]

In [10]:
df_join_a = pd.merge(suicide_df, mental_df, on='country_year', how='inner')
df_join_b = pd.merge(life_df,wb, on='country_year', how='inner')

In [11]:
russia_search_join_one = df_join_a.loc[(df_join_a["country_x"]== "Russia")]
russia_search_join_one.head()

,country_x,year_x,suicide_rate_owid,country_year,country_y,year_y,mental_substance_disorders
4704,Russia,1990,28.321015,Russia-1990,Russia,1990,11.747320
4705,Russia,1991,29.617504,Russia-1991,Russia,1991,11.775109
4706,Russia,1992,34.488578,Russia-1992,Russia,1992,11.800684
4707,Russia,1993,44.017264,Russia-1993,Russia,1993,11.824215
4708,Russia,1994,50.176333,Russia-1994,Russia,1994,11.844027

In [12]:
russia_search_join_two = df_join_b.loc[(df_join_b["country_y"]== "Russia")]
russia_search_join_two.head()

,country_x,year_x,life_expectancy,country_year,country_y,year_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
4988,Russia,1990,68.886098,Russia-1990,Russia,1990,13.4,NaN,11.2,3492.710314,NaN,NaN,147969407.0,NaN,NaN
4989,Russia,1991,68.474390,Russia-1991,Russia,1991,12.1,NaN,11.4,3490.452505,NaN,NaN,148394216.0,NaN,5.13
4990,Russia,1992,66.873171,Russia-1992,Russia,1992,10.7,NaN,12.2,3098.802639,NaN,1776.313984,148538197.0,NaN,5.18
4991,Russia,1993,64.935854,Russia-1993,Russia,1993,9.4,NaN,14.5,2930.670201,NaN,1564.036206,148458777.0,NaN,5.88
4992,Russia,1994,64.467073,Russia-1994,Russia,1994,9.5,NaN,15.7,2662.104034,NaN,1336.541564,148407912.0,NaN,8.13

In [13]:
df_join_c =  pd.merge(df_join_a,df_join_b, on='country_year', how='inner')

In [14]:
df_join_c.head()

,country_x_x,year_x_x,suicide_rate_owid,country_year,country_y_x,year_y_x,mental_substance_disorders,country_x_y,year_x_y,life_expectancy,...,year_y_y,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
0,Afghanistan,1990,10.318504,Afghanistan-1990,Afghanistan,1990,17.553463,Afghanistan,1990,50.331,...,1990,48.880,NaN,15.241,NaN,NaN,NaN,12412311.0,NaN,NaN
1,Afghanistan,1991,10.327010,Afghanistan-1991,Afghanistan,1991,17.837032,Afghanistan,1991,50.999,...,1991,48.763,NaN,14.783,NaN,NaN,NaN,13299016.0,NaN,11.38
2,Afghanistan,1992,10.271411,Afghanistan-1992,Afghanistan,1992,18.092542,Afghanistan,1992,51.641,...,1992,48.709,NaN,14.362,NaN,NaN,NaN,14485543.0,NaN,11.46
3,Afghanistan,1993,10.376123,Afghanistan-1993,Afghanistan,1993,18.294931,Afghanistan,1993,52.256,...,1993,48.717,NaN,13.974,NaN,NaN,NaN,15816601.0,NaN,11.61
4,Afghanistan,1994,10.575915,Afghanistan-1994,Afghanistan,1994,18.428908,Afghanistan,1994,52.842,...,1994,48.770,NaN,13.616,NaN,NaN,NaN,17075728.0,NaN,11.65

In [15]:
df = df_join_c[["country_y_y", 
                "year_y_y", 
                "country_year", 
                "suicide_rate_owid",
                "mental_substance_disorders",
                "life_expectancy", 
                "birth_rate",
                "death_rate",
                "gdp",
                "health_pct", 
                "population",
                "unemployment"
               ]]

In [16]:
#rename columns
db_complete = df.rename(columns={"country_y_y": "country", "year_y_y":"year"})

In [17]:
joined_russia = db_complete.loc[(db_complete["country"]== "Russia")]
joined_russia.head()

,country,year,country_year,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
3524,Russia,1990,Russia-1990,28.321015,11.747320,68.886098,13.4,11.2,3492.710314,NaN,147969407.0,NaN
3525,Russia,1991,Russia-1991,29.617504,11.775109,68.474390,12.1,11.4,3490.452505,NaN,148394216.0,5.13
3526,Russia,1992,Russia-1992,34.488578,11.800684,66.873171,10.7,12.2,3098.802639,NaN,148538197.0,5.18
3527,Russia,1993,Russia-1993,44.017264,11.824215,64.935854,9.4,14.5,2930.670201,NaN,148458777.0,5.88
3528,Russia,1994,Russia-1994,50.176333,11.844027,64.467073,9.5,15.7,2662.104034,NaN,148407912.0,8.13

In [18]:
#Counting countries
db_complete["country"].nunique()

172

In [19]:
db_complete["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Asia',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vietnam', 'World', 'Zambia',
       'Zimbabwe'], dtype=object)

In [20]:
db_complete.to_csv("clean/extract_owid_and_wb.csv", index=False)

## Merge with other dbs

In [21]:
# Set CSV input file path
activity_path = os.path.join('clean/extract_insufficient_activity.csv')
# Read CSV to DataFrame
activity_df = pd.read_csv(activity_path)
activity_df.head()

       country  year  insufficient_activity      country_year
0  Afghanistan  2001                  86.39  Afghanistan-2001
1  Afghanistan  2002                  86.52  Afghanistan-2002
2  Afghanistan  2003                  86.64  Afghanistan-2003
3  Afghanistan  2004                  86.77  Afghanistan-2004
4  Afghanistan  2005                  86.89  Afghanistan-2005

In [39]:
russianFed = activity_df.loc[(activity_df["country"]== "Russia")]
russianFed.head()

     country  year  insufficient_activity country_year
1552  Russia  2001                  83.47  Russia-2001
1553  Russia  2002                  83.54  Russia-2002
1554  Russia  2003                  83.61  Russia-2003
1555  Russia  2004                  83.68  Russia-2004
1556  Russia  2005                  83.75  Russia-2005

In [23]:
# Set CSV input file path
alcohol_path = os.path.join('clean/extract_alcohol.csv')
# Read CSV to DataFrame
alcohol_df = pd.read_csv(alcohol_path)
alcohol_df.head()

       country  year  alcohol_consumption      country_code
0  Afghanistan  1990                  0.0  Afghanistan-1990
1  Afghanistan  1991                  0.0  Afghanistan-1991
2  Afghanistan  1992                  0.0  Afghanistan-1992
3  Afghanistan  1993                  0.0  Afghanistan-1993
4  Afghanistan  1994                  0.0  Afghanistan-1994

In [24]:
alcohol_df = alcohol_df.rename(columns={"country_code": "country_year"})

In [43]:
russianAcohol = alcohol_df.loc[(alcohol_df["country"]== "Russian Federation")]
russianAcohol.head()

                 country  year  alcohol_consumption             country_year
4318  Russian Federation  1990                 0.86  Russian Federation-1990
4319  Russian Federation  1991                 0.78  Russian Federation-1991
4320  Russian Federation  1992                 0.50  Russian Federation-1992
4321  Russian Federation  1993                 0.52  Russian Federation-1993
4322  Russian Federation  1994                 0.66  Russian Federation-1994

In [25]:
# Set CSV input file path
homicide_path = os.path.join('clean/extract_homicide_rate.csv')
# Read CSV to DataFrame
homicide_df = pd.read_csv(homicide_path)
homicide_df.head()

       country  year  homicide_rate      country_year
0  Afghanistan  2000           9.78  Afghanistan-2000
1  Afghanistan  2001           9.64  Afghanistan-2001
2  Afghanistan  2002          10.18  Afghanistan-2002
3  Afghanistan  2003          10.40  Afghanistan-2003
4  Afghanistan  2004           9.74  Afghanistan-2004

In [44]:
russianHomicide = homicide_df.loc[(homicide_df["country"]== "Russia")]
russianHomicide.head()

     country  year  homicide_rate country_year
2680  Russia  2000          28.07  Russia-2000
2681  Russia  2001          29.44  Russia-2001
2682  Russia  2002          30.48  Russia-2002
2683  Russia  2003          28.88  Russia-2003
2684  Russia  2004          27.25  Russia-2004

In [26]:
df_join_alcohol_activity =  pd.merge(activity_df,alcohol_df, on='country_year', how='inner')
df_join_alcohol_activity.head()

,country_x,year_x,insufficient_activity,country_year,country_y,year_y,alcohol_consumption
0,Afghanistan,2005,86.89,Afghanistan-2005,Afghanistan,2005,0.009
1,Afghanistan,2006,87.01,Afghanistan-2006,Afghanistan,2006,0.011
2,Afghanistan,2007,87.13,Afghanistan-2007,Afghanistan,2007,0.009
3,Afghanistan,2008,87.24,Afghanistan-2008,Afghanistan,2008,0.018
4,Afghanistan,2009,87.36,Afghanistan-2009,Afghanistan,2009,0.010

In [ ]:
russianJoin = activity_df.loc[(activity_df["country"]== "Russia")]
russianJoin.head()

In [32]:
df_join_homicide =  pd.merge(df_join_alcohol_activity,homicide_df, on='country_year', how='inner')
df_join_homicide.head()

,country_x,year_x,insufficient_activity,country_year,country_y,year_y,alcohol_consumption,country,year,homicide_rate
0,Afghanistan,2005,86.89,Afghanistan-2005,Afghanistan,2005,0.009,Afghanistan,2005,9.62
1,Afghanistan,2006,87.01,Afghanistan-2006,Afghanistan,2006,0.011,Afghanistan,2006,9.46
2,Afghanistan,2007,87.13,Afghanistan-2007,Afghanistan,2007,0.009,Afghanistan,2007,9.14
3,Afghanistan,2008,87.24,Afghanistan-2008,Afghanistan,2008,0.018,Afghanistan,2008,9.07
4,Afghanistan,2009,87.36,Afghanistan-2009,Afghanistan,2009,0.010,Afghanistan,2009,8.96

In [33]:
three_df = df_join_homicide[[
                "country", 
                "year", 
                "country_year", 
                "insufficient_activity",
                "alcohol_consumption",
                "homicide_rate"
               ]]

three_df.head()

,country,year,country_year,insufficient_activity,alcohol_consumption,homicide_rate
0,Afghanistan,2005,Afghanistan-2005,86.89,0.009,9.62
1,Afghanistan,2006,Afghanistan-2006,87.01,0.011,9.46
2,Afghanistan,2007,Afghanistan-2007,87.13,0.009,9.14
3,Afghanistan,2008,Afghanistan-2008,87.24,0.018,9.07
4,Afghanistan,2009,Afghanistan-2009,87.36,0.010,8.96

In [34]:
df_join_total =  pd.merge(three_df,db_complete, on='country_year', how='inner')
df_join_total.head()

,country_x,year_x,country_year,insufficient_activity,alcohol_consumption,homicide_rate,country_y,year_y,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,2005,Afghanistan-2005,86.89,0.009,9.62,Afghanistan,2005,10.655626,17.647911,58.290,44.723,10.003,242.031313,9.948290,25654274.0,11.52
1,Afghanistan,2006,Afghanistan-2006,87.01,0.011,9.46,Afghanistan,2006,10.538475,17.539914,58.826,43.870,9.645,263.733602,10.622766,26433058.0,11.34
2,Afghanistan,2007,Afghanistan-2007,87.13,0.009,9.14,Afghanistan,2007,10.391129,17.444318,59.375,42.944,9.287,359.693158,9.904675,27100542.0,11.18
3,Afghanistan,2008,Afghanistan-2008,87.24,0.018,9.07,Afghanistan,2008,10.219154,17.357110,59.930,41.949,8.932,364.660679,10.256495,27722281.0,11.11
4,Afghanistan,2009,Afghanistan-2009,87.36,0.010,8.96,Afghanistan,2009,10.036657,17.275369,60.484,40.903,8.584,438.076142,9.818487,28394806.0,11.46

In [35]:
final = df_join_total[["country_x", 
                "year_x", 
                "country_year", 
                "insufficient_activity",
                "homicide_rate",
                "alcohol_consumption",
                "suicide_rate_owid",
                "mental_substance_disorders",
                "life_expectancy",
                "birth_rate",
                "death_rate",
                 "gdp",
                 "health_pct",
                 "population",
                "unemployment"
                       ]]

final.head()

,country_x,year_x,country_year,insufficient_activity,homicide_rate,alcohol_consumption,suicide_rate_owid,mental_substance_disorders,life_expectancy,birth_rate,death_rate,gdp,health_pct,population,unemployment
0,Afghanistan,2005,Afghanistan-2005,86.89,9.62,0.009,10.655626,17.647911,58.290,44.723,10.003,242.031313,9.948290,25654274.0,11.52
1,Afghanistan,2006,Afghanistan-2006,87.01,9.46,0.011,10.538475,17.539914,58.826,43.870,9.645,263.733602,10.622766,26433058.0,11.34
2,Afghanistan,2007,Afghanistan-2007,87.13,9.14,0.009,10.391129,17.444318,59.375,42.944,9.287,359.693158,9.904675,27100542.0,11.18
3,Afghanistan,2008,Afghanistan-2008,87.24,9.07,0.018,10.219154,17.357110,59.930,41.949,8.932,364.660679,10.256495,27722281.0,11.11
4,Afghanistan,2009,Afghanistan-2009,87.36,8.96,0.010,10.036657,17.275369,60.484,40.903,8.584,438.076142,9.818487,28394806.0,11.46

In [38]:
final["country_x"].nunique()

151