In [1]:
## Dependencies
import os
import pandas as pd

## Country List

In [2]:
## Set input file
filename = 'extract_countries_all.csv'
path = os.path.join('clean', filename)

In [3]:
## Load CSV as DataFrame
countries_list = pd.read_csv(path, low_memory=False)
countries_list.head()

,world_bank,who,owid,onu,iso_country
0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN
2,Africa Western and Central,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,land Islands,ALA
4,Albania,Albania,Albania,Albania,ALB

## Alcohol Consumption

In [4]:
## Set input file
filename = 'who_alcohol_liters_per_capita.csv'
path = os.path.join('input', filename)

In [5]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [6]:
df = df.sort_values(by=['Location','Period'], ignore_index=True)

In [7]:
df = df.rename(columns={
    'Location': 'country',
    'Period': 'year',
    'Dim1': 'dimension',
    'FactValueNumeric': 'alcohol_consumption'
})

In [8]:
print('Countries:', df['country'].nunique())
df.head()

Countries: 189

       country  year                  dimension  alcohol_consumption
0  Afghanistan  1961                       Beer                  0.0
1  Afghanistan  1961  Other alcoholic beverages                  0.0
2  Afghanistan  1961                    Spirits                  0.0
3  Afghanistan  1961                  All types                  0.0
4  Afghanistan  1961                       Wine                  0.0

In [ ]:
df.replace('Russian Federation', 'Russia', inplace=True)

In [9]:
# country = 'Russia'
# countries_list.loc[countries_list['owid'] == country]['onu'].values[0]

In [10]:
# country_un = []

# for country in df['country']:
#     print (country)
#     country_un.append(countries_list.loc[countries_list['who'] == country]['onu'].values[0])

# df['country_un'] = country_un

In [11]:
## Set years range
start_year = 1990
end_year = 2020
years_list = [str(i) for i in range(start_year, end_year+1)]
print('Num years =', len(years_list))
print(years_list)

Num years = 31
['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [12]:
clean_df = df.loc[(df['year'] >= start_year) & ((df['year'] <= end_year))]
clean_df.reset_index(drop=True, inplace=True)

In [13]:
clean_df['country_year'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

<ipython-input-13-107848520c56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['country_code'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

In [14]:
clean_df

,country,year,dimension,alcohol_consumption,country_code
0,Afghanistan,1990,Beer,0.00,Afghanistan-1990
1,Afghanistan,1990,Other alcoholic beverages,0.00,Afghanistan-1990
2,Afghanistan,1990,Spirits,0.00,Afghanistan-1990
3,Afghanistan,1990,All types,0.00,Afghanistan-1990
4,Afghanistan,1990,Wine,0.00,Afghanistan-1990
...,...,...,...,...,...
27524,Zimbabwe,2019,Wine,0.05,Zimbabwe-2019
27525,Zimbabwe,2019,Spirits,0.39,Zimbabwe-2019
27526,Zimbabwe,2019,Beer,1.20,Zimbabwe-2019
27527,Zimbabwe,2019,Other alcoholic beverages,1.47,Zimbabwe-2019
27528,Zimbabwe,2019,All types,3.11,Zimbabwe-2019

In [15]:
extract_df = clean_df.loc[df['dimension'] == "All types"]
extract_df.drop(['dimension'], axis=1, inplace=True)

print ('Countries:', clean_df['country'].nunique())
extract_df.head()

Countries: 189

C:\Users\rpmcl\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        country  year  alcohol_consumption      country_code
3   Afghanistan  1990                  0.0  Afghanistan-1990
8   Afghanistan  1991                  0.0  Afghanistan-1991
13  Afghanistan  1992                  0.0  Afghanistan-1992
18  Afghanistan  1993                  0.0  Afghanistan-1993
23  Afghanistan  1994                  0.0  Afghanistan-1994

## Violence (homicide rate)

In [16]:
## Set input file
filename = 'who_violence_homicide_rate_100k.csv'
path = os.path.join('input', filename)

In [17]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [18]:
df = df.sort_values(by=['Location','Period'], ignore_index=True)

In [19]:
df = df.rename(columns={
    'Location': 'country',
    'Period': 'year',
    'Dim1': 'dimension',
    'FactValueNumeric': 'homicide_rate'
})

In [20]:
print('Countries:', df['country'].nunique())
df.head()

Countries: 183

       country  year   dimension  homicide_rate
0  Afghanistan  2000        Male          16.71
1  Afghanistan  2000      Female           2.43
2  Afghanistan  2000  Both sexes           9.78
3  Afghanistan  2001        Male          16.44
4  Afghanistan  2001      Female           2.43

In [ ]:
df.replace('Russian Federation', 'Russia', inplace=True)

In [21]:
clean_df = df.loc[(df['year'] >= start_year) & ((df['year'] <= end_year))]
clean_df.reset_index(drop=True, inplace=True)

In [22]:
clean_df['country_year'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

In [23]:
clean_df

           country  year   dimension  homicide_rate      country_code
0      Afghanistan  2000        Male          16.71  Afghanistan-2000
1      Afghanistan  2000      Female           2.43  Afghanistan-2000
2      Afghanistan  2000  Both sexes           9.78  Afghanistan-2000
3      Afghanistan  2001        Male          16.44  Afghanistan-2001
4      Afghanistan  2001      Female           2.43  Afghanistan-2001
...            ...   ...         ...            ...               ...
10975     Zimbabwe  2018        Male          21.65     Zimbabwe-2018
10976     Zimbabwe  2018      Female           5.50     Zimbabwe-2018
10977     Zimbabwe  2019  Both sexes          13.08     Zimbabwe-2019
10978     Zimbabwe  2019        Male          21.68     Zimbabwe-2019
10979     Zimbabwe  2019      Female           5.25     Zimbabwe-2019

[10980 rows x 5 columns]

In [24]:
extract_df = clean_df.loc[df['dimension'] == "Both sexes"]
extract_df.drop(['dimension'], axis=1, inplace=True)

print ('Countries:', clean_df['country'].nunique())
extract_df.head()

Countries: 183

C:\Users\rpmcl\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        country  year  homicide_rate      country_code
2   Afghanistan  2000           9.78  Afghanistan-2000
5   Afghanistan  2001           9.64  Afghanistan-2001
6   Afghanistan  2002          10.18  Afghanistan-2002
9   Afghanistan  2003          10.40  Afghanistan-2003
14  Afghanistan  2004           9.74  Afghanistan-2004

In [25]:
extract_df.to_csv("clean/extract_homicide_rate.csv", index=False)

## Insufficient Physical Activity (among school going adolescents aged 11-17 years)

In [26]:
## Set input file
filename = 'who_insufficient_activity_pct.csv'
path = os.path.join('input', filename)

In [27]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [28]:
df = df.sort_values(by=['Location','Period'], ignore_index=True)

In [29]:
df = df.rename(columns={
    'Location': 'country',
    'Period': 'year',
    'Dim1': 'dimension',
    'FactValueNumeric': 'insufficient_activity'
})

In [30]:
print('Countries:', df['country'].nunique())
df.head()

Countries: 194

       country  year   dimension  insufficient_activity
0  Afghanistan  2001        Male                  85.88
1  Afghanistan  2001  Both sexes                  86.39
2  Afghanistan  2001      Female                  86.95
3  Afghanistan  2002        Male                  86.07
4  Afghanistan  2002  Both sexes                  86.52

In [ ]:
df.replace('Russian Federation', 'Russia', inplace=True)

In [31]:
clean_df = df.loc[(df['year'] >= start_year) & ((df['year'] <= end_year))]
clean_df.reset_index(drop=True, inplace=True)

In [32]:
clean_df['country_year'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

In [33]:
clean_df

          country  year   dimension  insufficient_activity      country_code
0     Afghanistan  2001        Male                  85.88  Afghanistan-2001
1     Afghanistan  2001  Both sexes                  86.39  Afghanistan-2001
2     Afghanistan  2001      Female                  86.95  Afghanistan-2001
3     Afghanistan  2002        Male                  86.07  Afghanistan-2002
4     Afghanistan  2002  Both sexes                  86.52  Afghanistan-2002
...           ...   ...         ...                    ...               ...
6562     Zimbabwe  2015  Both sexes                  86.65     Zimbabwe-2015
6563     Zimbabwe  2015      Female                  88.63     Zimbabwe-2015
6564     Zimbabwe  2016        Male                  84.63     Zimbabwe-2016
6565     Zimbabwe  2016  Both sexes                  86.64     Zimbabwe-2016
6566     Zimbabwe  2016      Female                  88.64     Zimbabwe-2016

[6567 rows x 5 columns]

In [34]:
extract_df = clean_df.loc[df['dimension'] == "Both sexes"]
extract_df.drop(['dimension'], axis=1, inplace=True)

print ('Countries:', clean_df['country'].nunique())
extract_df.head()

Countries: 194

C:\Users\rpmcl\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        country  year  insufficient_activity      country_code
1   Afghanistan  2001                  86.39  Afghanistan-2001
4   Afghanistan  2002                  86.52  Afghanistan-2002
7   Afghanistan  2003                  86.64  Afghanistan-2003
10  Afghanistan  2004                  86.77  Afghanistan-2004
13  Afghanistan  2005                  86.89  Afghanistan-2005

In [35]:
extract_df.to_csv("clean/extract_insufficient_activity.csv", index=False)