In [1]:
## Dependencies
import os
import pandas as pd

## Alcohol Consumption

In [2]:
## Set input file
filename = 'who_alcohol_liters_per_capita.csv'
path = os.path.join('input', filename)

In [3]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [4]:
df = df.sort_values(by=['Location','Period'], ignore_index=True)

In [5]:
df = df.rename(columns={
    'Location': 'country',
    'Period': 'year',
    'Dim1': 'dimension',
    'FactValueNumeric': 'alcohol_consumption'
})

In [6]:
print('Countries:', df['country'].nunique())
df.head()

Countries: 189

       country  year                  dimension  alcohol_consumption
0  Afghanistan  1961                       Beer                  0.0
1  Afghanistan  1961  Other alcoholic beverages                  0.0
2  Afghanistan  1961                    Spirits                  0.0
3  Afghanistan  1961                  All types                  0.0
4  Afghanistan  1961                       Wine                  0.0

In [7]:
## Set years range
start_year = 1990
end_year = 2020
years_list = [str(i) for i in range(start_year, end_year+1)]
print('Num years =', len(years_list))
print(years_list)

Num years = 31
['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [8]:
clean_df = df.loc[(df['year'] >= start_year) & ((df['year'] <= end_year))]
clean_df.reset_index(drop=True, inplace=True)

In [9]:
clean_df['country_year'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

<ipython-input-9-f3a6218d6c15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['country_year'] = clean_df['country'] + "-" + clean_df['year'].astype(str)

In [10]:
clean_df

,country,year,dimension,alcohol_consumption,country_year
0,Afghanistan,1990,Beer,0.00,Afghanistan-1990
1,Afghanistan,1990,Other alcoholic beverages,0.00,Afghanistan-1990
2,Afghanistan,1990,Spirits,0.00,Afghanistan-1990
3,Afghanistan,1990,All types,0.00,Afghanistan-1990
4,Afghanistan,1990,Wine,0.00,Afghanistan-1990
...,...,...,...,...,...
27524,Zimbabwe,2019,Wine,0.05,Zimbabwe-2019
27525,Zimbabwe,2019,Spirits,0.39,Zimbabwe-2019
27526,Zimbabwe,2019,Beer,1.20,Zimbabwe-2019
27527,Zimbabwe,2019,Other alcoholic beverages,1.47,Zimbabwe-2019
27528,Zimbabwe,2019,All types,3.11,Zimbabwe-2019

In [11]:
extract_df = clean_df.loc[df['dimension'] == "All types"]

print ('Countries:', clean_df['country'].nunique())
extract_df.head()

Countries: 189

        country  year  dimension  alcohol_consumption      country_year
3   Afghanistan  1990  All types                  0.0  Afghanistan-1990
8   Afghanistan  1991  All types                  0.0  Afghanistan-1991
13  Afghanistan  1992  All types                  0.0  Afghanistan-1992
18  Afghanistan  1993  All types                  0.0  Afghanistan-1993
23  Afghanistan  1994  All types                  0.0  Afghanistan-1994

In [12]:
extract_df.to_csv("clean/extract_alcohol.csv", index=False)

In [13]:
Stop code Here!

SyntaxError: invalid syntax (<ipython-input-13-ec5ea11b0b21>, line 1)

## Violence (homicide rate)

In [ ]:
## Set input file
filename = 'who_alcohol_liters_per_capita.csv'
path = os.path.join('input', filename)

In [ ]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [ ]:
df = df.sort_values(by=['Location','Period'], ignore_index=True)