In [1]:
## Dependencies
import os
import pandas as pd

## Suicide Rates

In [2]:
## Set input file
filename = 'who_alcohol_liters_per_capita.csv'
path = os.path.join('input', filename)

In [12]:
## Load CSV as DataFrame
cols = ['Location','Period','Dim1', 'FactValueNumeric']
df = pd.read_csv(path, usecols = cols, low_memory=False)

In [16]:
df = df.sort_values(by=['Location','Period'])

In [17]:
df

          Location  Period                       Dim1  FactValueNumeric
47167  Afghanistan    1961                       Beer              0.00
47168  Afghanistan    1961  Other alcoholic beverages              0.00
47169  Afghanistan    1961                    Spirits              0.00
47170  Afghanistan    1961                  All types              0.00
47171  Afghanistan    1961                       Wine              0.00
...            ...     ...                        ...               ...
221       Zimbabwe    2019                       Wine              0.05
398       Zimbabwe    2019                    Spirits              0.39
533       Zimbabwe    2019                       Beer              1.20
564       Zimbabwe    2019  Other alcoholic beverages              1.47
739       Zimbabwe    2019                  All types              3.11

[47794 rows x 4 columns]

In [19]:
df.loc[(df['Period'] >= 1990) & ((df['Period'] <= 2020))]

          Location  Period                       Dim1  FactValueNumeric
26664  Afghanistan    1990                       Beer              0.00
26665  Afghanistan    1990  Other alcoholic beverages              0.00
26666  Afghanistan    1990                    Spirits              0.00
26667  Afghanistan    1990                  All types              0.00
26668  Afghanistan    1990                       Wine              0.00
...            ...     ...                        ...               ...
221       Zimbabwe    2019                       Wine              0.05
398       Zimbabwe    2019                    Spirits              0.39
533       Zimbabwe    2019                       Beer              1.20
564       Zimbabwe    2019  Other alcoholic beverages              1.47
739       Zimbabwe    2019                  All types              3.11

[27529 rows x 4 columns]

In [ ]:
countries_list = pd.unique(df['Entity'])
len(countries_list)

In [ ]:
clean_df = df.rename(columns={
    'Entity': 'country',
    'Code': 'country_code',
    'Year': 'year',
    'Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate)': 'suicide_rate'
})

In [ ]:
clean_df.to_csv("clean/suicide_rate_1990.csv", index=True)

## Life Expectancy

In [ ]:
# Set CSV input file path
input_path = os.path.join('input/owid_life-expectancy-at-birth-total-years.csv')
# Read CSV to DataFrame
df = pd.read_csv(input_path)

In [ ]:
df

In [ ]:
countries_list = pd.unique(df['Entity'])
len(countries_list)

In [ ]:
df.loc[(df['Year'] >= 1990) & ((df['Year'] <= 2020))]

In [ ]:
clean_df = df.rename(columns={
    'Entity': 'country',
    'Code': 'country_code',
    'Year': 'year',
    'Life expectancy at birth, total (years)': 'life_expectancy'
})
clean_df

In [ ]:
clean_df.to_csv("clean/life_expectancy.csv", index=True)

## Mental & Substance Disorders

In [ ]:
# Set CSV input file path
input_path = os.path.join('input/owid_life-expectancy-at-birth-total-years.csv')
# Read CSV to DataFrame
df = pd.read_csv(input_path)